@import '../../styles.scss';
@import '../../components/styles.scss';

.dodoCornerPopup {
  box-sizing: border-box;
  background-color: $background;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dodoRotate90 {
  transform: rotate(90deg);
}
