@import '../styles.scss';

.dodoHyperlink {
  color: $main-color;
  min-width: 100px;
  margin: 5px;
  margin-left: 0;
  display: inline-block;
}

.dodoHyperlink:hover {
  text-decoration: underline;
  cursor: pointer;
}
