@import '../styles.scss';
@import './styles.scss';

.dodoProgressBar {
  position: relative;
  height: 7px;
  border: none;
  background-color: $main-color;
  overflow: hidden;

  &::-webkit-progress-value {
    background-color: $main-color;
    border-radius: 0.25px;
    transition: width 0.5s ease-in-out;
  }

  &::-webkit-progress-bar {
    background-color: $background;
    border-radius: 0.25px;
  }

  &::after {
    content: attr(value) '%';
    font-family: Arial, sans-serif;
    font-size: 5px;
    color: $text;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5px;
    width: 100%;
  }
}
